@media(min-width:320px) and (max-width:767px) {
    .img p {
        display: none;
    }
 .menu{
        margin-right: 5%;
        display: flex;
        gap: 14px;
    }
    .menu a{
        font-size: 14px;
    }

    .main-1 {
        height: 65vh;

    }

    .title-pic img {
        display: none;
    }

    .title h1 {
        font-size: 35px;
        width: 90%;
    }

    .learnmore {
        margin-left: 12px;
    }
     .input-search{
        display: none;
    }
    .mission_vision {
        display: flex;
        flex-direction: column;
        gap: 36px;
        margin-top: 10%;

    }

    .mision,
    .vision {
        margin-left: 48px;
    }

    .footer {
        margin-top: 12%;
    }
}

@media (min-width: 601px) and (max-width: 1024px){
    .main-1 {
        height: 70vh;
    }

    .title-pic {
        display: flex;

    }

    .title-pic img {
        height: 90%;
        margin-top: 20%;
    }

    .title {
        margin-top: 12%;
    }

    .title h1 {
        font-size: 36px;
        width: 100%;
    }
   
    .mision, .vision{
        display: flex;
        flex-direction: column;
        height: 90%;
        padding: 18px;
    }
}